body{
    font-family: Arial, Helvetica, sans-serif;
}


.load img {
    position: fixed;
    width: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.output{
    border-radius: 10px;
    border: 1px solid #ccc;
    width:100%;
    padding: 5px;
    overflow-wrap: break-word;
}
textarea{
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    resize: none;
}
.center-div{
    width: 50%;
    margin: auto;
}
.nav{
    background-color: rgb(243, 243, 243);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* if screen res */
@media screen and (max-width: 600px) {
    .center-div{
        width: 90%;
    }
    .icon{
        width: 50px;
        padding-right: 10px;
    }
}
.app_mode_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.app_mode_button{
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
.app_mode_selected{
    background-color: #438ccb;
    color: #fff;
}
.banner {
    position: fixed;
    bottom: 0;
}

input{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: #000;
}
#hash{
    font-family: monospace;
    font-size: 15px;
}
#hash strong{
    color: #438ccb;
}
/* if dark mode */
@media screen and (prefers-color-scheme: dark) {
    body{
        background-color: rgb(15, 15, 15);
        color: #fff;
    }
    .nav{
        background-color: rgb(15, 15, 15);
    }
    .app_mode_button{
        background-color: rgb(15, 15, 15);
        color: #fff;
    }
    .app_mode_selected{
        background-color: #438ccb;
        color: rgb(15, 15, 15);
    }
    .output{
        background-color: rgb(15, 15, 15);
        color: #fff;
    }
    .banner {
        filter: invert(94%);
    }
    textarea{
        background-color: rgb(15, 15, 15);
        color: #fff;
    }
    a{
        color: #fff;
    }
}
